In [1]:
import pandas
import numpy
import matplotlib.pyplot as plt
import japanize_matplotlib
import re

In [3]:
pattern: re.Pattern[str] = re.compile(r'([-]*\d+\.\d*)\D*')
def cleanSeries(serIn:pandas.Series) -> pandas.Series:
    """
    列データに含まれる、数値以外の文字を除く
    """
    ser:pandas.Series = serIn.copy()
    for k in ser.index:
        v = ser[k]
        if type(v) is str:
            m: re.Match[str] | None = pattern.match(v)
            if m:
                v = m.group(1)
        ser[k]=numpy.float64(str(v))
    return ser

In [7]:
#最高気温
url = 'http://www.data.jma.go.jp/obd/stats/etrn/view/monthly_s3.php?'
url += 'prec_no=85&block_no=47813&year=&month=&day=&view=a2'
#最低気温
#url = 'http://www.data.jma.go.jp/obd/stats/etrn/view/monthly_s3.php?prec_no=85&block_no=47813&year=&month=&day=&view=a3'

dataFrames :list[pandas.DataFrame]= pandas.read_html(url)
print('表の数',len(dataFrames))
for i, d in enumerate(dataFrames):
    print(f'----- {i} -----')
    print(d.head())
# df :pandas.DataFrame= dataFrames[0].drop('年の値', axis = 1)
# df.set_index('年', inplace = True)
# df
# ser :pandas.Series= df.loc[2011]#type:ignore
# ser
# for k in ser.index:
#     v = ser[k]
#     print(v,type(v))
# ser = cleanSeries(ser)
# print()
# for k in ser.index:
#     v = ser[k]
#     print(v,type(v))

        1月    2月      3月    4月    5月    6月    7月    8月    9月   10月   11月   12月
年
1890   NaN   NaN     NaN   NaN   NaN   NaN   NaN  30.5  30.0  22.2  18.5  15.0
1891   7.8   9.9    14.7  19.4  24.4  27.2  28.8  30.6  29.3  24.6  17.9  12.1
1892   9.2  10.5    11.0  19.5  24.2  26.5  32.4  32.0  28.2  22.1  16.9   9.2
1893   7.9   7.9    13.4  18.6  22.5  25.7  32.3  31.2  29.4  22.0  15.0  11.4
1894   9.8  11.2    14.8  20.3  24.9  28.9  32.7  34.2  28.5  23.4  19.5  12.0
...    ...   ...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2020  13.1  13.7    16.6  19.3  26.2  29.8  29.0  34.5  29.0  24.3  19.8  12.3
2021  10.5  14.9    18.8  22.5  25.1  29.8  33.1  31.2  30.3  26.5  18.6  12.3
2022  10.9  10.2    17.6  22.1  26.1  29.1  33.0  33.0  30.3  24.4  21.6  11.2
2023  10.9  13.3    18.9  21.8  25.7  28.6  32.5  34.7  31.4  24.5  19.2  13.2
2024  11.6  13.9  14.5 ]   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[135 rows x 12 columns]